.container{
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.container_bikes{
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding-bottom: 20px;
}

.container_top{
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    background: url("img/container_top.png") no-repeat center / cover;
}

.container__to-bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    width: 66px;
    height: 77px;
    background: url("img/to-bottom.png") no-repeat center;
    cursor: pointer;
}

.container_categories{
    width: 100%;
    max-width: 100%;
    padding: 75px 10px 175px 10px;
    background: url("img/categories.png") no-repeat center / cover;
}
