mixin category(imgSrc, title, subtitle)
    .category(style="background:url("+imgSrc+") no-repeat center / cover")
        h3.category__title=title
        .category__subtitle=subtitle
        button.button.button_category Go to store
        .category__triangle
