.grid{
    display: grid;
    justify-content: center;
}

.grid_categories{
    max-width: 1100px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(310px,346px));
    grid-gap:30px;
}

@media (max-width:1145px),(max-device-width:1145px) {
    .grid_categories{
        max-width: 350px;
    }
}
