noscript
    p Please enable Javascript
    
header.header
    a.header__logo(href="#")
    ul.header__menu
        li.header__item(href="#") Bicycles
            .header__submenu
                a.header__subitem(href="#") Fixed / single speed
                a.header__subitem(href="#") City bikes
                a.header__subitem(href="#") Premium series
        a.header__item(href="#") parts
        a.header__item(href="#") accessories
        a.header__item(href="#") extras
        a.header__basket(href="#")
                
